HTML {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,0.4881730769230769) 77%, rgba(0,212,255,1) 100%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-text {
  padding-top: 10px;
}

.reviews {
  padding-top: 10px;
  
}

.card-text li {
  font-style: italic;

}

.bg-primary {
  padding: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;

}

.jumbotron {
  position: relative;
}

.geeks {
  width: 400px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.geeks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: green;
  animation: animate 2s linear infinite;
}

  @keyframes animate {
    from {
        left: 0rem;
    }

    10% {
      top: 6vh;
      background-color: red;
        
    }

    70% {
        left: 0;
    }

    to {
      top: 6vh;
    }
  }